{% extends 'base.html.twig' %}

{% block title %}Hello CategoryController!{% endblock %}

{% block body %}
    <div class="card mb-3">
        <div class="card-body">
{#            <h5 class="card-title">{{ category.name }}</h5>#}
             <div class="container row text-center">
                {% for program in programs|reverse|slice(0, 3)%}
                <div class="card col-4" style="width: 18rem;">
                        <img src="{{ program.poster }}" class="card-img-top" alt="...">
                        <div class="card-body">
                                <h5 class="card-title">{{ program.title }}</h5>
                                <p class="card-text">{{ program.summary|slice(0, 50) ~ '...' }}</p>
                                <a href="{{ path('program_show', {'id': program.id}) }}" class="btn btn-primary">En savoir plus</a>
                        </div>
                </div>
                {% endfor %}
            </div>
         </div>

     </div>
{% endblock %}
